<div id="fav-dialog" class="palm-dialog-content">
	<div id="fav-dialog-title" class="palm-dialog-title"></div>
	<div class="palm-dialog-separator"></div>
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Enter a name</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">     
					<div class="truncating-text" x-mojo-element="TextField" id="fav-name"></div>
				</div> 
			</div>
		</div>
	</div>
</div>
<div class="BT-lb"></div>
<div class="palm-dialog-buttons">
	<div class="palm-dialog-buttons-wrapper">
			<div x-mojo-element="Button" id="okButton"></div>
			<div x-mojo-element="Button" id="cancelButton"></div>
	</div>
</div>