<div class="BT-page-header palm-page-header multi-line" id="stops-header">
	<div class="palm-page-header-wrapper">
		<div class="rt">#{rt}</div>
		<div class="BT-page-header-text">
			<div class="BT-page-title truncating-text">#{rtnm}</div>
			<div class="BT-page-info">#{dir}</div>
		</div>
	</div>
</div>
<div class="palm-header-spacer BT-header-spacer"></div>

<div class="BT-map-wrapper" id="stops-map-wrapper">
	<div class="BT-map-canvas" id="stops-map"></div>
</div>
<div class="palm-scrim BT-scrim" id="stops-scrim">
	<div x-mojo-element="Spinner" id="spinner"></div>
</div>
<div x-mojo-element="List" id="stop-list" class="BT-list"></div>
<div x-mojo-element="FilterList" id="stop-filter-list" class="BT-list"></div>
