<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
  	<div class="icon" id="BT-icon"></div>
    <div class="title">Help</div>
  </div>
</div>

<div class="palm-text-wrapper">
<div class="title">#{title}</div>
<div class="palm-info-text">v#{version} by #{vendor}</div>
</div>

<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row first" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
					<div class="app-support-info-item web"></div>
					<div class="title truncating-text">
						<a class="support-link" href="https://sites.google.com/site/chibustracker/">App Homepage</a>
					</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-tap-highlight="momentary">
					<div class="app-support-info-item email"></div>
					<div class="title truncating-text">
						<a class="support-link" href="mailto:fiokonkwo@gmail.com?subject=Attn: Chicago BusTracker">Send an email</a>
					</div>
			</div>
		</div>
		
		<div class="palm-row last" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
					<div class="app-support-info-item web"></div>
					<div class="title truncating-text">
						<a class="support-link" href="http://transitchicago.com">Chicago Transit Authority</a>
					</div>
			</div>
		</div>
		
	</div>
</div>

<div class="palm-text-wrapper">
	<div class="palm-info-text">#{-copyright} <br />
	<span class="oblique">Data provided by the Chicago Transit Authority</span></div>
</div>